<h1>Sample components</h1>
<h2>Checkbox</h2>
<app-checkbox
  title="Select All"
  color="warn"
  [value]="allSelected"
  [indeterminate]="someSelected"
  (valueChanged)="onChangeValue('all', $event)"></app-checkbox>

<ul>
  <li *ngFor="let item of checkboxes">
    <app-checkbox
      [title]="item.title"
      [color]="item.color"
      [value]="item.selected"
      [emphasis]="item.emphasis"
      (valueChanged)="onChangeValue2(item.key, $event)"></app-checkbox>
  </li>
</ul>

<hr />

<ul>
  <li>
    <app-checkbox
      title="Primary"
      color="primary"
      [value]="false"
      (valueChanged)="onChangeValue('primary', $event)"></app-checkbox>
  </li>
  <li>
    <app-checkbox
      title="Accent"
      color="accent"
      [value]="false"
      (valueChanged)="onChangeValue('accent', $event)"></app-checkbox>
  </li>
  <li>
    <app-checkbox
      title="Warn"
      color="warn"
      [value]="true"
      (valueChanged)="onChangeValue('warn', $event)"></app-checkbox>
  </li>
  <li>
    <app-checkbox
      title="Disabled"
      [disabled]="true"
      [value]="true"
      (valueChanged)="onChangeValue('disabled', $event)"></app-checkbox>
  </li>
  <li>
    <app-checkbox
      title="Intermediate"
      [value]="false"
      [indeterminate]="true"
      (valueChanged)="onChangeValue('indeterminate', $event)"></app-checkbox>
  </li>
  <li>
    <app-checkbox
      title="Bold"
      [value]="false"
      [emphasis]="true"
      (valueChanged)="onChangeValue('emphasis', $event)"></app-checkbox>
  </li>
  <li>
    <app-checkbox
      title="Readonly"
      [value]="true"
      [readonly]="true"
      (valueChanged)="onChangeValue('emphasis', $event)"></app-checkbox>
  </li>
  <li>
    <app-checkbox
      [value]="false"
      (valueChanged)="onChangeValue('no-text', $event)"></app-checkbox>
    Without text
  </li>
</ul>
